 <div class="container">
  <h1>Thanks for Coming to Checkout Mule Force Five Flash Cards</h1>
  <p>Please signup below</p>

  <table>
    <tr>
      <td>
        <form action="/" method="post">
          <p>username</p>
          <input type="text" name="user[user_name]">
        </td>    
        <tr> 
        <tr>
          <td>
            <p>password</p>
            <input type="text" name="user[password]">
            <input type="submit" value="signup">
          </td>
        </tr>
        </form>
  </table>
</div>