<!-- Show Flash card answer -->
<div class="navbar"></div>


<div class="container">
<h1 class="question"><%= @card.definition %> </h1>


<h1 class="question"> The answer is: <%= @card.term %></h1>
  <% if @guess.is_correct == true%>
    <p>You were correct</p>
    <% else %>
    <p>You were incorrect</p>
  <% end %>


<div class="wrapper">

  <br/>
  <br/>
  <% if @game_over == false%>
    <form action="/game/card/<%= @new_card_id %>" method="get">
      <input type="submit" value="View next flashcard!" autofocus >
    </form>
  <% else %>
      <form action="/game/results" method="get">
        <input type="submit" value="View next flashcard!">
      </form>
  <% end %>

<div class="logout"><%= erb :logout_button %><div>

</div>
