<!-- Show flashcard -->

<div class="container">
  <h1 class="question"> Guess the answer: <%= @card.definition  %> </h1>
  <br/>
  <br/>
  <form action="/game/card/<%= @card.id%>" method="post">
  <input type="text" placeholder="type your answer" name ="input" autofocus >
    <input type="submit" value="Submit Answer!">
  </form>

  <%= erb :logout_button %>


</div>
