<!-- Flash card answer -->

<div class="container">
  <h1 class="question"> Here's the answer: <%= @card.term %></h1>
  <% if @guess.is_correct == 't'%>
    <p>You were correct</p>
    <% else %>
    <p>You were incorrect</p>
  <% end %>
  <br/>
  <br/>
  <form action="/game/card/#{new_card.id}" method="get">
    <input type="submit" value="View next flashcard!">
  </form>

</div>
