<div class="container">
	
	<h3><%= @..... %></h3>
	<br><br>
	<h1><%= @..... %></h1>
	<form action="/...url...." method="post">
		<input type="submit" value="Back">
		<input type="submit" value="Next">
		<input type="submit" value="Exit Game">
	</form>


</div>
