<!-- Show flashcard -->
<div class="navbar"></div>


<div class="container">
<h1 class="question"><%= @card.definition %> </h1>

<div class="wrapper">

  <form action="/game/card/<%= @card.id%>" method="post">
  <input type="text" placeholder="Enter your answer" name ="input" id="answer">
  <br>

</div>
  
  <input type="submit" value="Submit">
  </form>

<div class="logout"><%= erb :logout_button %><div>

</div>