<div class="container">
  <h1 class="question"> This is a question </h1>
  <br/>
  <br/>
  <form action="/game/card/<%= @card.id %>" method="post">
    <input type="text" placeholder="type your answer">
    <input type="submit" value="Submit Answer!">
  </form>
</div>
