<!-- Show Flash card answer -->
<div class="navbar"></div>


<div class="container">
<h1 class="question"><%= @card.definition %> </h1>


<h1 class="question"> The answer is: <%= @card.term %></h1>
  <% if @guess.is_correct == true%>
    <h2>You were correct</h2>
    <% else %>
    <h2>You were incorrect</h2>
  <% end %>




  <br/>
  <br/>
  <% if @game_over == false%>
    <form action="/game/card/<%= @new_card_id %>" method="get">
      <input type="submit" value="Next" autofocus >
    </form>
  <% else %>
      <form action="/game/results" method="get">
        <input type="submit" value="Next" autofocus>
      </form>
  <% end %>

<div class="logout"><%= erb :logout_button %><div>


