<!-- 
	mvp
	defintion
	term
	next button
	back button
	exit button

	extras:
	form to insert term
	submit button
	results whether correct or incorrect
	if incorrect then how many guesses

 -->

<div class="container">
	
	<h3><%= @..... %></h3>
	<br><br>
	<h1><%= @..... %></h1>

	<input action="/...url...." method="post">Back</input>
	<input action="/...url...." method="post">Next</input>
	<input action="/...url...." method="post">Exit Game</input>


</div>