<img src="muledeer_sm.png" width="200" id="muledeer_badge">
<img src="muleforcefive.png" width="200" id="muledeer_slogan">

<div class="container">
  <img src="logo.png" width="240">

  <div class="sign_in">
    <div class="horizontal">
        <form action="/login" method="post">
          <!-- <h3>Email</h3> -->
          <input type="text" name="user[email]" size=30 placeholder="Enter your email address" id="first_form" autofocus>
    </div>
    <div class="horizontal">
          <!-- <h3>Password</h3> -->
          <input type="password" name="user[password]" size=30 placeholder="Enter password">
    </div>

  </div>
  

    <div class="horizontal">
        <%= @errors %><br>
        <input type="submit" value="Sign In" class="sign_in_button">
          </form>
        <form action="users/new" name="not_sure" class="sign_in_button">
          <input type="submit" value="New User" >
        </form>

</div>


         
    </div>
