<div class="container">
  <h1>Welcome to Mule Force Five Flash Cards</h1>
  <p>Please login below</p>

  <table>
    <tr>
      <td>
        <form action="/" method="post">
          <p>username</p>
          <input type="text" name="user[user_name]">
     </td>    
    <tr> 
    <tr>
      <td>
        <p>password</p>
          <input type="text" name="user[password]">
          <input type="submit" value="login">
      </td>
    </tr>
        </form>

        <tr>
          <td>
          <br>
          <br>
          <br>
            <form action="/new_user" name="not_sure">
              <p> or sign up for an account if you are new to mule force</p>
              <input type="submit" value="signup">

          </td>
        </tr>


        </table>
      </div>

