<<<<<<< HEAD
<img src="muledeer_sm.png" width="200" id="muledeer_badge">
=======
<img src="muledeer_sm.png" width="220" id="muledeer_badge">
>>>>>>> beks_css
<img src="muleforcefive.png" width="220" id="muledeer_slogan">

<!-- <img src="muledeer_sm.png"> -->

<div class="container">
  <img src="logo.png" width="240">
  <p>Please login below</p>

  <table>



    <%= @errors %>
     
    <tr>
      <td>
        <form action="/login" method="post">
          <h3>Email</h3>
          <input type="text" name="user[email]">
     </td>    
    <tr> 
    <tr>
      <td>
        <h3>Password</h3>
          <input type="password" name="user[password]">
          <input type="submit" value="login">
      </td>
    </tr>
      </form>
        <tr>
          <td>
          <br>
          <br>
          <br>
          <form action="users/new" name="not_sure">
      <p> or sign up for an account if you are new to mule force</p>
          <input type="submit" value="signup">
        </td>
      </tr>
    </table>
</div>
