

<div class="container">
<h1>Deck Dashboard</h1>
<h3>Hey <%= @user.first_name.capitalize %>! Select a deck!</h3>

<div class="wrapper">

  <form action="/game/card/new" method="post">
  <select name="user[deck]">
  

  <% @decks.each do |deck| %>
      <option><%= deck.name %></option>
  <% end %>

  <br>
  <br>
  <input type="submit" value="select">
  </select>
  </form>

  <div class="logout"><%= erb :logout_button %><div>

</div>
</div>
