 <div class="container">
  <h1>Sign up for a new account</h1>
  <div class="sign_up">


  <table>
    <% if @errors %>
      <% @errors.each do |error|  %>
        <tr>
          <td>
        <%= error %>
          </td>
        </tr>
      <% end  %>
    <% end %>
  

    <tr>
      <td>
        <form action="/users/new" method="post">
          <input type="text" name="user[first_name]" placeholder="First Name" id="first_form">
        </td>    
        </tr> 
        <tr>
        <td>

          <input type="text" name="user[last_name]" placeholder="Last Name">
          </td>
        </tr>
        <tr>
        <td>
          <input type="text" name="user[email]" placeholder="Your Email">
          </td>
        </tr>
        <tr>
          <td>
            <input type="password" name="user[password_hash]" placeholder="Password">
          </td>
        </tr>
  </table>
</div>
        <input type="submit" value="SignUp"><br><br>
        </form>

</div>

