<div class="container">
	<h1>Congratulations! You've correctly guessed the answers to all your cards!</h1>


<div class="wrapper">
  Here are your stats:
  <table>
    <tr>
      <td><h3>Number of Guesses:</h3></td>
      <td>
        <h3><%= @times_correct + @times_incorrect %></h3>
      </td>
    </tr>
    <tr>
      <td><h3>Number of Correct Guesses:</h3></td>
      <td>
        <h3><%= @times_correct %></h3>
      </td>
    </tr>
    <tr>
      <td><h3>Number of Incorrect Guesses:</h3></td>
      <td>
        <h3><%= @times_incorrect %></h3>
      </td>
    </tr>
  </table>

  <form action="/game/new" method="gets">
    <input type="submit" value="Choose another deck">
  </form>

  <%= erb :logout_button %>
  
</div>
</div>