 <div class="container">
  <h1>Thanks for Coming to Checkout Mule Force Five Flash Cards</h1>
  <p>Please sign up below</p>

  <table>
    <% if @errors %>
      <% @errors.each do |error|  %>
        <tr>
          <td>
        <%= error %>
          </td>
        </tr>
      <% end  %>
    <% end %>
  

    <tr>
      <td>
        <form action="/users/new" method="post">
          <h3>First Name</h3>
          <input type="text" name="user[first_name]">
        </td>    
        </tr> 
        <tr>
        <td>
          <h3>Last Name</h3>
          <input type="text" name="user[last_name]">
          </td>
        </tr>
        <tr>
        <td>
          <h3>Email</h3>
          <input type="text" name="user[email]">
          </td>
        </tr>
        <tr>
          <td>
            <h3>Password</h3>
            <input type="password" name="user[password_hash]">
            <input type="submit" value="SignUp">
          </td>
        </tr>
        </form>
  </table>
</div>